// Custom font declarations

@font-face {
  font-weight: 400;
  font-family: "Spoqa Han Sans Neo";
  font-style: normal;
  src: url("../fonts/SpoqaHanSansNeo-400-normal.woff2") format("woff2"),
    url("../fonts/SpoqaHanSansNeo-400-normal.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-weight: 700;
  font-family: "Spoqa Han Sans Neo";
  font-style: normal;
  src: url("../fonts/SpoqaHanSansNeo-700-normal.woff2") format("woff2"),
    url("../fonts/SpoqaHanSansNeo-700-normal.woff2") format("woff");
  font-display: swap;
}

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300&display=swap');
